{
  "globals": {
    "$": false,
    "jQuery": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "vue"],
  "plugins": ["vue"],
  "rules": {
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "keyword-spacing": "warn",
    "no-multiple-empty-lines": "warn",
    "padded-blocks": "off",
    "semi": ["warn", "always"],
    "space-before-blocks": "warn",
    "space-before-function-paren": "warn",
    "space-infix-ops": "warn",
    "space-unary-ops": "warn",
    "spaced-comment": "warn"
  }
}
