# compiled output
/dist
/tmp
/out-tsc

# Ignore Mac crap
.sass-cache
.DS_Store

# Never mind them node modules
node_modules/

# Never mind that build folder
build/

# NPM Crap
npm-debug.log

# Editor crap
.tmp/
.vscode/
package-lock.json