.rover-photo {
    /* hack a square container for the photo */
    position: relative;
    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    .content {
        background: darkgrey;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    // Simple layouting of the item and the over;ay.
    transition: all 0.2s;
    .overlay {
        color: #fff;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        background: rgba(#000, .5);
        transition: all 0.2s;
        .extra {
            display: none;
        }
    }
    &:hover {
        z-index: 100;
        box-shadow: 0 0 10px #000;
        .overlay {
            background: #000;
            transform: translate(0, 100%);
            .extra {
                display: block;
            }
        }
    }
}