<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/dgi-logo.png" height="30" class="d-inline-block align-top" alt=""> Mars Rovers Demo
        </a>
    </div>
</nav>


<section>
    <div class="container">
        <div class="page-text text-center">           
             <!-- <h1>DGI Front end assignment</h1>
            <p>Begin your assignment here, consult the readme.md for instructions</p> -->
        </div>
    </div>
</section>


