/**
 * Button styling is based on Bootstrap styling
 */

// Override hover and active state on dark/inverse buttons
@mixin button-variant-dark($background, $border) {
  // scss-lint:disable QualifyingElement

  &:focus,
  &.focus {
    background-color: lighten($background, 30%);
    border-color: lighten($border, 10%);
  }

  &:hover {
    background-color: lighten($background, 30%);
    border-color: lighten($border, 5%);
  }

  &:active,
  &.active {
    background-color: lighten($background, 30%);
    border-color: lighten($border, 5%);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
  }
}

//
// Buttons
//

.btn-secondary {
  @include button-variant-dark($btn-secondary-bg, $btn-secondary-border);
}

//
// Icons in buttons
//

.icon {
  .btn > & {
    bottom: -0.25em;
    font-size: 1.3em;
    height: 1em;
    line-height: 1;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: -0.5em;
    top: auto;
  }

  .btn-lg > & {
    bottom: -0.25em;
    font-size: 1.5em;
    margin-top: -0.5em;
  }

  .btn-sm > & {
    bottom: -0.25em;
    font-size: 1.1em;
    margin-top: -0.5em;
  }
}

// Icon only button
.btn-icon {
  padding-left: $btn-padding-x * 0.35;
  padding-right: $btn-padding-x * 0.35;

  &.btn-sm {
    padding-left: $btn-padding-x-sm * 0.35;
    padding-right: $btn-padding-x-sm * 0.35;
  }

  &.btn-lg {
    padding-left: $btn-padding-x-lg * 0.4;
    padding-right: $btn-padding-x-lg * 0.4;
  }
}

//
// Navigation button
//

.btn-nav {
  background: $primary;
  color: $white;
  display: inline-block;
  overflow: hidden;
  padding-left: 64px;
  position: relative;
  text-align: left;
  transition: color 0.5s ease;
  user-select: none;
  width: 136px;

  &:hover,
  &:focus,
  &:active {
    background: $primary;
  }
}

%btn-nav-burger {
  background-color: $white;
  height: 2px;
  position: absolute;
  transition: background-color 0.25s linear,
              transform 0.5s ease;
  width: 30px;
}

.btn-nav__burger {
  @extend %btn-nav-burger;
  display: block;
  left: 14px;
  top: 23px;

  .is-active & { background-color: $primary; }

  &::before {
    @extend %btn-nav-burger;
    content: "";
    right: 0;
    top: 0;
    transform: translateY(-10px);

    .is-active & {
      transform: rotate(-45deg) translateY(0);
    }
  }

  &::after {
    @extend %btn-nav-burger;
    content: "";
    right: 0;
    top: 0;
    transform: translateY(10px);

    .is-active & {
      transform: rotate(45deg) translateY(0);
    }
  }
}

.btn-nav__text-open {
  color: $white;
  display: inline-block;
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
  width: 0;

  .is-active & {
    color: $primary;
    opacity: 0;
    transform: translateY(-10px);
  }
}

.btn-nav__text-close {
  color: $primary;
  display: inline-block;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
  width: 0;

  .is-active & {
    color: $white;
    opacity: 1;
    transform: translateY(0);
  }
}
