
@mixin ratio-crop($crop-name) {
  // Ratios based on crop name
  @if $crop-name == "Spot" {
    padding-bottom: percentage(200/300);
  } @else if $crop-name == "Card" {
    padding-bottom: percentage(440/750);
  } @else if $crop-name == "Banner" {
    padding-bottom: percentage(500/1440);
  } @else if $crop-name == "Banner_Tall" {
    padding-bottom: percentage(960/750);
  }
}

//
// Base selectors
//

.image-ratio {
  background-color: $gray-300;
  display: block;
  position: relative;
  overflow: hidden;
}

.image-ratio__image {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

//
// Setting up sizes
//

.image-ratio--hero {
  @extend .image-ratio;
  @include ratio-crop("Banner_Tall");

  @include media-breakpoint-up(md) {
    @include ratio-crop("Card");
  }

  @include media-breakpoint-up(lg) {
    @include ratio-crop("Banner");
  }
}

.image-ratio--spot {
  @extend .image-ratio;
  @include ratio-crop("Spot");
}

.image-ratio--card {
  @extend .image-ratio;
  @include ratio-crop("Card");
}

.image-ratio--banner {
  @extend .image-ratio;
  @include ratio-crop("Card");

  @include media-breakpoint-up(lg) {
    @include ratio-crop("Banner");
  }
}
