
.page-text {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > .h1,
  > .h2,
  > .h3,
  > .h4,
  > .h5,
  > .h6 {
    margin-bottom: $headings-margin-bottom;
    margin-top: $headings-margin-bottom * 1.5;
  }

  // Styling embedded iframes from RTE
  iframe {
    display: block;
    max-width: 100%;
    margin: auto;
  }
}


//
// Setting mobile font sizes
//

@include media-breakpoint-down(sm) {
  // scss-lint:disable SingleLinePerSelector EmptyLineBetweenBlocks
  h1, .h1 { font-size: $h1-font-size  * 0.7; }
  h2, .h2 { font-size: $h2-font-size * 0.7; }
  h3, .h3 { font-size: $h3-font-size * 0.7; }
  h4, .h4 { font-size: $font-size-base; }
  h5, .h5 { font-size: $font-size-base; }
  h6, .h6 { font-size: $font-size-base; }

  .lead {
    font-size: $lead-font-size * 0.9;
  }

  // Type display classes
  .display-1 {
    font-size: $display1-size * 0.4;
  }
  .display-2 {
    font-size: $display2-size * 0.4;
  }
  .display-3 {
    font-size: $display3-size * 0.4;
  }
  .display-4 {
    font-size: $display4-size * 0.4;
  }
}

// Setting default text color class
@include text-emphasis-variant(".text-default", $body-color);

.text-white a {
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

// Setting multiline text cropping
.text-crop-base-2 {
  @include crop-text($font-size-base, 2);
}
